<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Card</title>
</head>
<body>
    <h1>Add a new Card</h1>
    <!-- without the post methods input data of form will be added to urls which will be displayed to user -->
    <form method="post">
        <p>
            Question:
            <input type="text" name="question">
        </p>
        <p>
            Answer:
            <input type="text" name="answer">
        </p>
        <button type="submit">Create</button>
    </form>
</body>
</html>