{% extends "base.html" %} <!-- Inheriting base.html -->

{% block title %}Welcome{% endblock %} <!-- Replacing the title, block is a keyword -->

{% block content %} <!-- Replacing the body, block name can be any thing, here it is 'content' -->
    <h1>Welcome to flask template page!</h1>
    <p>
        This is the demo application for the course
        <em>Getting Started with Flask</em>
        on <a href="https://www.pluralsight.com">PluralSight</a>
    </p>
    <h2>Flash Cards</h2>
    <ul>
        {% for card in cards %}
            <li>
                <a href="{{ url_for('card_view', index=loop.index0) }}">
                    {{ card.question }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_card') }}"> Add Card</a>
{% endblock %}